body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.zoom-effect {
  transform: scale(1.1);
}

.my-component:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  -webkit-filter: blur(1px);

}

.efect{
  z-index: 9999;
  transition: 1s;
  box-shadow: 10px 10px 10px black inset;
}


/* .bordaStyle :hover{
  border: '10px dashed #d54040',
} */